body{
    background-image: url("sai.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(235, 227, 227);

}
.about{
    margin: 90px auto;
    text-align: center;

}
h1{
    font-family: sans-serif;
    letter-spacing: 1px;

}
h1::after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}
