*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'poppins';
    box-sizing: border-box;
    color:azure;
}
.hello
{
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/cyber-green-neon-light-background_52683-43360.jpg?t=st=1702511340~exp=1702511940~hmac=e2769825e4f491c0fea7d5a881df50e393f04bbd482d6c1a798461b720c6100b");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}
.form{
   
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(228, 220, 220);
    color: rgb(225, 250, 242);
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    padding: 10px;
    color:brown;
    cursor:text;
    transition: 0.2s;
}
button{
    padding: 0;
    color:rgb(236, 225, 225);
    outline:none;
    background:transparent;
    border:solod black;
    width:100%;
    cursor:pointer;

}
input:focus~label,input:valid~label,textarea:focus~label,textarea:valid~label{
    top :-35px;
    font-size: 14px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row .input-group{
    flex-basis: 48%;
}